apiVersion: v1
kind: Secret
metadata:
  name: relove-bot-secret
  # namespace: your-namespace # Укажите ваш namespace
type: Opaque
data:
  # Секреты должны быть закодированы в Base64
  # Пример: echo -n 'your_telegram_token' | base64
  BOT_TOKEN: "<your_base64_encoded_bot_token>"

  # Пример: echo -n 'your_strong_webhook_secret' | base64
  WEBHOOK_SECRET: "<your_base64_encoded_webhook_secret>"

  # Пример: echo -n 'your_db_password' | base64
  # DB_PASSWORD: "<your_base64_encoded_db_password>"

  # Добавьте другие секреты, например, учетные данные БД
  # DB_USER: "<base64_db_user>"
  # DB_HOST: "<base64_db_host>" # Или используйте ConfigMap, если хост не секретный
  # DB_NAME: "<base64_db_name>"
  # DB_PORT: "<base64_db_port>"

  # Важно: Если используете интеграцию с облачными менеджерами секретов,
  # этот Secret может не понадобиться или использоваться для других целей. 